body {
  margin: 0;
  background-color: #fff;
  overflow: overlay;
  counter-reset: svg;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
  border-radius: 35px;
}
body::-webkit-scrollbar-track {
  opacity: 0;
  background-color: transparent;
  border-radius: 35px;
  overflow: hidden;
}
body::-webkit-scrollbar-thumb {
  background-color: #00aeff;
  padding: 20px;
  border-radius: 35px;
}
main {
  height: 100vh;
  overflow: hidden;
}
main video {
  position: absolute;
  height: 950px;
  margin-top: -100px;
  width: unset;
}
main .overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}
main .main-info {
  height: 100%;
  background-color: #fff;
  z-index: 1;
  position: relative;
  width: 50%;
  transform: scale(3.5);
  opacity: 0;
  transition: 0.3s;
  transition-delay: 1s;
  float: left;
}
main .main-info.active {
  transform: scale(1);
  opacity: 1;
  font-size: 9vw;
  font-weight: bold;
  mix-blend-mode: screen;
  color: #000;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-info2.active {
  color: #fff;
  background-color: #000;
}
.loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loading .languages {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.loading .languages .iconify {
  height: initial;
  opacity: 0;
}
.loading-bar {
  margin-top: 20px;
  background: #e44f26;
  border: none;
  height: 10px;
  border-radius: 35px;
}
.loading:not(.already-animated) {
  width: 100%;
  transition: 0.2s;
}
.loading:not(.already-animated) .languages .iconify {
  counter-increment: section;
  transform: rotate(90deg) scale(1.5);
  transition: 0.5s;
  width: 9%;
}
.loading:not(.already-animated) .languages .iconify.active {
  opacity: 1;
  transform: rotate(0deg) scale(1);
  animation: move 1.1s ease-in-out infinite;
}
.loading:not(.already-animated) .padding-box {
  margin: 0 auto;
  width: 80%;
  padding: 10px 10px;
  margin: 20px auto;
  border-radius: 35px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.loading:not(.already-animated) .loading-bar {
  width: 0%;
  transition: 10s linear;
  animation: colorLoad 10s linear infinite 1s ;
  margin: 0;
}
.loading:not(.already-animated) .loading-bar.active {
  width: 100%;
}
.loaded-text {
  transition: 0.5s;
  position: absolute;
  width: 100%;
  text-align: center;
  top: -300%;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(-50%);
  margin: 0;
}
@keyframes move {
  0% {
    transform: rotate(0deg) scale(1) translateY(-10px);
  }
  50% {
    transform: rotate(0deg) scale(1) translateY(10px);
  }
  100% {
    transform: rotate(0deg) scale(1) translateY(-10px);
  }
}
@keyframes colorLoad {
  0% {
    background-color: #e44f26;
  }
  10% {
    background-color: #1572b6;
  }
  20% {
    background-color: #f5de19;
  }
  30% {
    background-color: #7700ff;
  }
  40% {
    background-color: #ffa500;
  }
  50% {
    background-color: #33a9dc;
  }
  60% {
    background-color: #cd6799;
  }
  70% {
    background-color: #16103c;
  }
  80% {
    background-color: #09cf83;
  }
  90% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
